# Version compatible avec MySQL 5.6 et Windows 7

pymysql==0.9.3              # Adapté aux anciennes versions de MySQL (5.6)
sqlalchemy==1.4.49          # Dernière version stable compatible avec pymysql 0.9.x
pandas==1.3.5               # Compatible avec Python 3.8, nécessaire pour manipuler les données
openpyxl==3.0.10            # Utilisé pour lire les fichiers Excel (.xlsx)
